In [26]:
import mysql.connector
conn = mysql.connector.connect(
    host = "localhost",
    user = "sqluser",
    password="password"
)
mycursor = conn.cursor()

In [ ]:
#mycursor.execute("create database python_db")

In [27]:
conn= mysql.connector.connect(
    host = 'localhost',
    user = 'sqluser',
    password = 'password',
    database = 'python_db'
)
mycursor = conn.cursor()

In [ ]:
#mycursor.execute("Create table user_table (id Int Auto_Increment primary key,Name varchar(50),Email varchar(50),T_Date date,password varchar(30))")

In [ ]:
#mycursor.execute("Create table Admin_Table(id Int Auto_Increment primary key,Name varchar(50),password varchar(30))")

In [ ]:
'''sql = "INSERT INTO Admin_Table (Name, password) VALUES (%s, %s)"
val = ("Admin", "Admin@123")
mycursor.execute(sql, val)
conn.commit()'''

In [23]:
#mycursor.execute("Create table Prod_Table(U_Id int not null,Product_Name varchar(80),T_Date date)")

In [21]:
mycursor.execute("Select Max(Id) from user_table")
rec = mycursor.fetchone()
for i in rec:
  print(i)

11

In [35]:
mycursor.execute("Select Max(T_Date) from user_table")
re= mycursor.fetchone()
for i in re:
   p=i
   print(p)

2022-12-20

In [39]:
mycursor.execute(f"Select Count(T_Date) from user_table where T_Date = {p}")
re= mycursor.fetchone()
for i in re:
    print(i)

0

In [19]:
mycursor.execute("SELECT NOW()")
a  = mycursor.fetchone()
for i in a:
    print(i)

InternalError: Unread result found